body {
    background-color: rgb(206, 198, 214);
    padding: 1%;
}
#titulo_web {
    text-align: center;
}
#navegador {
    display: block;
    list-style: none;
    background-color: black;
}
.opcion {
    position: relative;
    display: inline-block;
    padding: 20px 10px;

}
.opcion a {
    color: #ffffff;
    text-decoration: none;
}
.subOpcion {
    position: absolute;
    background-color: #ffffff;
    width: 200% ;
}
.subOpcion li a {
    display: block;
    padding: 15px;
}
.subOpcion a {
    color: black;
}